.container {
    min-height: calc(100vh - 69px - 64px);
    background-image: url("/images/ocean.jpg");
    color: white;

}

.searchBox {
    margin: 30px 0;
    padding-top: 30pt;
    height: 80%;
    /* border: 1pt solid red; */
    border-radius: 10pt;
    background-color: rgba(0, 0, 0, .8);
}
.searchHeadline {
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 25pt;
}
.searchLine {
    text-align: center;
    display: flex;
}
.cardBox {
    margin-top: 20px;
}