@import '~antd/dist/antd.css';

.App {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/ocean.jpg");
}
.logo {
  font-size: 20pt;
  color: whitesmoke;
}
.login {
  text-align: right;
}
.login {
  margin-right: 5px;
}
.logout {
  margin-left: 5px;
}
.loggedIn {
  color: white
}
.searchSwitch {
  font-size: 20px;
}
.loginXS {
  visibility: hidden;
}
.header-link {
  margin-left: 20px;
}
.container {
  min-height: calc(100vh - 69px - 64px);
  background-image: url("/images/ocean.jpg");
  color: white;
}

.searchBox {
  margin: 30px 0;
  padding-top: 30pt;
  padding-bottom: 30pt;
  height: 80%;
  /* border: 1pt solid red; */
  border-radius: 10pt;
  background-color: rgba(0, 0, 0, .8);
}
.searchHeadline {
  color: white;
  text-align: center;
  margin: 20px;
  font-size: 25pt;
}
.searchLine {
  text-align: center;
  display: flex;
}
.cardBox {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
      /* width: 100%;
      justify-content: center; */
  }
  .movieCard {
    width: 100%;
    justify-content: center;
  }
  .searchBox {
    width: 90%;
  }
 
}

