@import '~antd/dist/antd.css';

.App {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/ocean.jpg");
}
.logo {
  font-size: 20pt;
  color: whitesmoke;
}
.login {
  text-align: right;
}
.login {
  margin-right: 5px;
}
.logout {
  margin-left: 5px;
}
.loggedIn {
  color: white
}
.loginXS {
  visibility: hidden;
}
.header-link {
  margin-left: 20px;
}
/* .registerXS {
  visibility: hidden;
} */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
      /* width: 100%;
      justify-content: center; */
  }
  .movieCard {
    width: 100%;
    justify-content: center;
  }
 
}

