Poster
:
"https://m.media-amazon.com/images/M/MV5BMmVmODY1MzEtYTMwZC00MzNhLWFkNDMtZjAwM2EwODUxZTA5XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg"
Title
:
"Jaws"
Type
:
"movie"
Year
:
"1975"
imdbID
:
"tt0073195"